:root {
  --col-count: 8;
  --base-width: 100% / var(--col-count);
  --col-1: calc(var(--base-width));
  --col-2: calc(var(--col-1)*2);
  --col-3: calc(var(--col-1)*3);
  --col-4: calc(var(--col-1)*4);
  --col-5: calc(var(--col-1)*5);
  --col-6: calc(var(--col-1)*6);
  --col-7: calc(var(--col-1)*7);
  --col-8: calc(var(--col-1)*8);
  --col-9: calc(var(--col-1)*9);
  --col-10: calc(var(--col-1)*10);
  --col-11: calc(var(--col-1)*11);
  --col-12: calc(var(--col-1)*12);
  --col-13: calc(var(--col-1)*13);
  --col-14: calc(var(--col-1)*14);
  --col-15: calc(var(--col-1)*15);
  --col-16: calc(var(--col-1)*16);
  --sub-col: calc(var(--col-1) / 2);
  --wire-color: #e9e9e9;
  --anim-timimg-func: cubic-bezier(0.075, 0.82, 0.165, 1);
}

html {
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: #4f4f4f;
}

main {
  margin: 0 auto;
  padding: 4em 0;
  max-width: 1600px;
  min-height: 100vh;
  position: relative;
  background: pink;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.row {
  margin: 0 auto;
  padding: 0 8px;
  position: relative;
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.row:nth-child(even) {
  padding: 1em 8px 0 8px;
}

.col {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sub-col {
  display: inline-block;
  width: var(--sub-col);
  overflow: hidden;
}

hr {
  margin: 0;
  padding: 0;
  max-width: var(--col-6);
  border: none;
  border-bottom: 1px solid #e9e9e9;
  flex-grow: 1;
  align-self: center;
}

.row.wire {
  margin: 0;
  max-width: 1600px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.row.wire .col {
  width: var(--col-1);
  height: 100%;
  padding: 0;
  position: relative;
  border-right: 1px solid var(--wire-color);
}

.row.wire .col:first-child {
  border-left: 1px solid var(--wire-color);
}

.decorator,
.logo,
.bio,
.menu-decorator,
.date {
  width: var(--col-1);
}

.bio-separator,
.menu {
  width: var(--col-2);
}

.contacts-block,
.central-text,
.privacy {
  width: var(--col-3);
}




