@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
       url('../assets/fonts/montserrat-v12-cyrillic-ext_latin-200.woff2') format('woff2'),
       url('../assets/fonts/montserrat-v12-cyrillic-ext_latin-200.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../assets/fonts/montserrat-v12-cyrillic-ext_latin-regular.woff2') format('woff2'),
       url('../assets/fonts/montserrat-v12-cyrillic-ext_latin-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../assets/fonts/montserrat-v12-cyrillic-ext_latin-700.woff2') format('woff2'),
       url('../assets/fonts/montserrat-v12-cyrillic-ext_latin-700.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('../assets/fonts/montserrat-v12-cyrillic-ext_latin-900.woff2') format('woff2'),
       url('../assets/fonts/montserrat-v12-cyrillic-ext_latin-900.woff') format('woff');
  font-display: swap;
}

a {
    color: #414141;
    font-size: 1.4em;
    position: relative;
    text-decoration: none;
    transition: all .2s var(--anim-timimg-func);
    box-shadow: 0 -1px 0 #414141 inset;
}

a:active,
a:focus,
a:hover {
  color: rgba(101,125,225,1);
  box-shadow: 0 -2px 0  rgba(101,125,225,1) inset;
}

a:active,
a:focus{
  outline:none;
  box-shadow: 0 0 0  rgba(101,125,225,1) inset;
}

a:hover:before, a:focus:before {
    content: attr(data-before);
    position: absolute;
    top: -1px;
    right: 100%;
    width: 100%;
    color: rgba(101,125,225,1);
    text-align: right;
    padding-right: 4px;
}

a:hover:after, a:focus:after {
    content: attr(data-after);
    position: absolute;
    top: -1px;
    left: 100%;
    width: 100%;
    color: rgba(101,125,225,1);
    text-align: left;
    padding-left: 4px;
}

h2.contacts {
    font-size: 6.4em;
    margin: 0 0 .8rem 0;
    margin-left: -.02rem;
    font-weight: 900;
    line-height: .8;
    color: #e9e9e9;
    text-shadow: -3px -3px 0 #ffffff, 
                  -4px -4px 0 #ffffff, 
                  -5px -5px 0 #ffffff, 
                  3px 3px 0 #dfdfdf, 
                  4px 4px 0 #dfdfdf, 
                  5px 5px 0 #dfdfdf, 
                  6px 6px 0 #dfdfdf, 
                  7px 7px 0 #dfdfdf, 
                  8px 8px 0 #dfdfdf, 
                  9px 9px 0 #dfdfdf
}

h2 {
    font-size: 4em;
    margin: 0 0 .8rem 0;
    margin-left: -.02rem;
    font-weight: 900;
    line-height: 1;
}

h2 a {
  font-size: 1em;
  text-decoration: none;
  border-bottom: none;
  box-shadow: 0 -0.35em 0 rgba(101,125,225,.4) inset;
}

h3 {
    font-size: 2.4em;
    margin: 0 0 .8rem 0;
    margin-left: -.02rem;
    font-weight: 900;
    line-height: 1;
    color:#383838;
    position: relative;
}


h2 a:hover {
    color: inherit;
    transition: all .4s var(--anim-timimg-func);
    box-shadow: 0 -1.15em 0 rgba(101,125,225,.4) inset;
    cursor: pointer;
}

p {
  margin: 0;
  padding: 0 0 1em 0;   
}

p:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  margin-top: -0.2rem;
}

.font-16 {
  font-size: 1.6em;
  line-height: 1.6;
}

.bold {
  font-weight: 700;
  color:black;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0; 
}
